body {
    background: #0b0f19;
    color: white;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background: #111827;
    padding: 30px;
    border-radius: 12px;
    width: 300px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 8px;
    border: none;
}

button {
    width: 100%;
    padding: 10px;
    background: #7c3aed;
    color: white;
    border: none;
    border-radius: 8px;
}